body {
  padding-top: 120px !important;
}

main {
  width: 100%;
  height: 100%;
}

.con {
  display: flex;
  align-items: start;
}

main > h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

main > p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.aside-nav nav ul li:nth-child(3) {
  border-left: 4px solid #000;
}
