.list {
  height: 100%;
  width: 100%;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 1rem;
}

.list-head {
  display: flex;
  gap: 1rem;
  height: 60px;
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 13px;
}

.left input {
  width: 60%;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 1rem;
}

.right {
  display: flex;
  align-items: center;
}

.right button {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 120px;
  padding: 1rem;
  font-size: 13px;
  background-color: transparent;
}

.list table {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  border-spacing: 12px;
}

.list table thead {
  border-radius: 8px;
  padding: 0.5rem;
  height: 2rem;
  border: 1px solid black;
}

.list table thead th {
  text-align: start;
}

.list table tbody td {
  font-size: 0.8rem;
  object-fit: contain;
  padding: 0;
  width: 300px;
}

.list table .category {
  width: 260px;
  display: flex;
  align-items: center;
}

.list table .category p {
  margin-left: 12px;
}

.category img {
  width: 78px;
  aspect-ratio: 1;
  object-fit: cover;
}

.list table .action button {
  background-color: transparent;
  margin-right: 0.4rem;
}
